body {
    font-family: 'Inter', sans-serif;
}

.defaultFont {
    font-family: 'Inter', sans-serif;
}

.codeFont {
    font-family: 'M PLUS 1 Code', sans-serif;;
}

.blue1 {
    background-color: #06283D;
}

.blue1Bg {
    background-color: #06283D;
}

.blue2 {
    color: #19376D;
}

.blue2Bg {
    background-color: #19376D;
}

.blue3 {
    color: #05BFDB;
}

.blue3Bg {
    background-color: #05BFDB;
}

.blue4 {
    color: #A5D7E8;
}

.blue4Bg {
    background-color: #A5D7E8;
}

.green1 {
    color: #00FFCA;
}

.introTitle {
    font-size: 4.8rem;
    font-weight: bold;
}

.subtitle {
    color:#576CBC;
}

.cardTitle {
    font-size:1.5rem;
    font-weight: bold;
}

.cardSubtitle {
    font-size:1.3rem;
}

.cardHover {
    transition: all 0.3s;
}

.cardHover:hover {
    transform: scale(1.03);
}

.console {
    border:10px solid #A5D7E8;
    border-radius: 10px;
    color:#00FFCA;
    font-size: 1.2rem;
    box-sizing: border-box;
    padding: 10px;
    background-color: black;
    min-height:210px;
}


@media screen and (min-width: 1408px) {
    .container:not(.is-max-desktop):not(.is-max-widescreen) {
        max-width: 960px;
    }
}