body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.introSection {
    background-color:whitesmoke;
    display: flex;
    width: 100%;
    height:auto;
    font-family: 'Lato', sans-serif;
    z-index:-1;
    background-image: url(resources/robin3.jpg);
    background-size: 100%;
}

.introSection .left {
    margin-right: 3%;
    margin-left: auto;
    text-align:right;
    width: 35%;
}

.introSection .right {
    margin-right: auto;
    margin-left: 5%;
    width: 55%;
}

.robinImg {
    position: relative;
    height: auto;
    max-width: 125%;
    max-height: 125%;
    margin-left:12%;
}

.introInfo {
    position: relative;
    color:black;
    top: -1.5%;
}

.iconBar {
    margin-left: auto;
}

#navbar {
    background-color:#192841;
    margin:auto;
    height:200%;

}

.navbar-item {
    width: 18vw;
    font-size: 1.6em;
    font-weight: bold;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color:black;
}

.box {
    padding-top:15%;
    padding-left:15%;
    padding-right:15%;
}

#helloWorldBg {
    width:100%;
    background-image: linear-gradient(#192841, #FFFFFF);
}

#mbtiBg {
    background-color: white;
}

.mbtiName {
    text-align: center;
    font-size: 4em;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.mbtiLbls {
    font-size:2em;
}

.mbtiBars {
    text-align: left;
    font-size:2em;
    margin-left: 1%;
    animation: fadeIn 3s;
}

.empty {
    height:5vh;
    width: auto;
}

h1 {
    text-align: center;
    font-size: 3.5em;
    font-weight: bold;
}

h6 {
    font-size:2rem;
    text-align: center;
}

p {
    font-size:1.6rem;
}

#languagesBg {
    width:100%;
    background-image: linear-gradient(white, #FFFFCE);
}

.languages {
    position: relative;
    max-width:60%;
    max-height:60%;
    height: auto;
}

.languageDivs {
    text-align:center;
}

#otherWorkVolunteerBg {
    width:100%;
    background-image: linear-gradient(#FFFFCE, #FFFFFF);
}

#footer {
    background-color: #192841;
    color:white;
    text-align: center;
    font-size:1.5em;
}

.experienceTitle {
    font-weight: bold;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1.5s all ease;
}

.reveal.active {
transform: translateY(0);
opacity: 1;
}