body {
    font-family: 'Inter', sans-serif;
}

.codeFont {
    font-family: 'M PLUS 1 Code', sans-serif;;
}

.blue1 {
    background-color: #06283D;
}

.blue1Bg {
    background-color: #06283D;
}

.blue2Bg {
    background-color: #19376D;
}

.blue3 {
    color: #05BFDB;
}

.blue4 {
    color: #A5D7E8;
}

.blue4Bg {
    background-color: #A5D7E8;
}

.green1 {
    color: #00FFCA;
}

.introTitle {
    font-size: 4.8rem;
    font-weight: bold;
}

.subtitle {
    color:#576CBC;
}

