<footer class="footer" style="background-color:#00193D">
    <div class="content has-text-centered">
        <p class="green1" style="font-size:1.2rem">Made with ❤ By Robin Hwang</p>
        <p class="green1" style="font-size:1.2rem">Last Updated September 16, 2024</p>
        <a href="https://github.com/plaine1226"><ion-icon name="logo-github" class="icon is-medium green1 pr-5"></ion-icon></a>
        <a href="https://www.linkedin.com/in/hwangr/"><ion-icon name="logo-linkedin" class="icon is-medium green1 pr-5"></ion-icon></a>
        <a href="mailto:rlhwang@umich.edu"><ion-icon name="mail-outline" class="icon is-medium green1 pr-5"></ion-icon></a>
        <a href="https://orcid.org/my-orcid?emailVerified=true&orcid=0000-0003-0161-7179"><ion-icon name="key-outline" class="icon is-medium green1"></ion-icon></a>
        <p class="green1 pt-5" style="font-size:0.7rem">Hey Robin, need to change something? Log in to the admin panel <a href="/admin" class="blue4">here</a>!</p>
    </div>
</footer>