<nav class="navbar blue1Bg px-6" id="placeholder" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="{{ url_for('static', filename='resources/logo.png' ) }}" style="max-height: 70px;" class="py-2 px-2">
        </a>
        <a role="button" class="navbar-burger blue2Bg" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true" class="blue4"></span>
            <span aria-hidden="true" class="blue4"></span>
            <span aria-hidden="true" class="blue4"></span>
        </a>
    </div>
    
    <div id="navbarBasicExample" class="navbar-menu" style="background-color: #06283D; font-size: 1.3rem;">
        <div class="navbar-end">
            <a class="navbar-item blue4 px-5" href="/">
                Home
            </a>
        
            <a class="navbar-item blue4 px-5" href="/worldofhellos">
                World of Hellos
            </a>

            <a class="navbar-item blue4 px-5" href="/robinchronicles">
                The Robin Chronicles
            </a>

            <a class="navbar-item blue4 px-5" href="/resume">
                Resume
            </a>
        </div>
    </div>
</nav>