<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Robin Hwang</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter&family=M+PLUS+1+Code&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <link href="{{ url_for('static', filename='style.css' ) }}" rel="stylesheet" type="text/css" />
    </head>
    <body>
        {% include 'navbar.html' %}


        <section class="section is-medium blue1Bg">
            <div class="container has-text-centered">
                <h1 class="introTitle pb-5 blue4">The Robin Chronicles</h1>

                <p class="blue3" style="font-size:1.5rem;font-weight:bold;">Sharing ideas and footage about technology, well-being, and more.</p>
                
                <section class="hero is-small">
                    <div class="hero-body">
                    </div>
                </section>

                <div class="field">
                    <div class="control">
                      <input class="input" type="text" placeholder="Text input">
                    </div>
                </div>
                
                <section class="hero is-small">
                    <div class="hero-body">
                    </div>
                </section>

                {% for item in blogPosts %}

                <div class="card blue2Bg blue3 cardHover" id="{{ item['name'] }}">
                    <div class="card-content blue3">
                        <div class="media">
                            <div class="media-content">
                                <p class="cardTitle">{{ item["name"] }}</p>
                                <p class="cardSubtitle blue4">{{ item["family"] }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <section class="hero is-small">
                    <div class="hero-body">
                    </div>
                </section>

                {% endfor %}


            </div>
        </section>

        {% include 'footer.html' %}

        {% block content %}
        {% endblock %}

        <script src="{{ url_for('static', filename='world.js' ) }}"></script>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </body>
</html>